<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AladinProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>640A128C27ABC8C800E5A1E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>640A12A227ABC8CC00E5A1E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>640A12AC27ABC8CC00E5A1E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
